In [ ]:
Chapter 5
topic 5.1
You'll convert data types, apply range constraints to remove future data points,
 and remove duplicated data points to avoid double-counting.

In [ ]:
website and log server, ML and statistical analysis, memory limited in excel etc

In [ ]:
#from google.colab import drive
#drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

ride_sharing = pd.read_csv('ride_sharing_new.csv')
# Print the information of ride_sharing
print(ride_sharing.info())

# Print summary statistics of user_type column
print(ride_sharing['user_type'].describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       25760 non-null  int64
 1   duration         25760 non-null  object
 2   station_A_id     25760 non-null  int64
 3   station_A_name   25760 non-null  object
 4   station_B_id     25760 non-null  int64
 5   station_B_name   25760 non-null  object
 6   bike_id          25760 non-null  int64
 7   user_type        25760 non-null  int64
 8   user_birth_year  25760 non-null  int64
 9   user_gender      25760 non-null  object
dtypes: int64(6), object(4)
memory usage: 2.0+ MB
None
count    25760.000000
mean         2.008385
std          0.704541
min          1.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          3.000000
Name: user_type, dtype: float64

In [ ]:
print(ride_sharing)

       Unnamed: 0    duration  ...  duration_trim duration_time
0               0  12 minutes  ...            12             12
1               1  24 minutes  ...            24             24
2               2   8 minutes  ...             8              8
3               3   4 minutes  ...             4              4
4               4  11 minutes  ...            11             11
...           ...         ...  ...            ...           ...
25755       25755  11 minutes  ...            11             11
25756       25756  10 minutes  ...            10             10
25757       25757  14 minutes  ...            14             14
25758       25758  14 minutes  ...            14             14
25759       25759  29 minutes  ...            29             29

[25760 rows x 12 columns]

In [ ]:
# Strip duration of minutes
ride_sharing['duration_trim'] = ride_sharing['duration'].str.strip('minutes')

# Convert duration to integer
ride_sharing['duration_time'] = ride_sharing['duration_trim'].astype('int')

# Write an assert statement making sure of conversion
assert ride_sharing['duration_time'].dtype == 'int'

# Print formed columns and calculate average ride duration 
print(ride_sharing[['duration','duration_trim','duration_time']])
print(ride_sharing.duration_time.mean())

         duration duration_trim  duration_time
0      12 minutes           12              12
1      24 minutes           24              24
2       8 minutes            8               8
3       4 minutes            4               4
4      11 minutes           11              11
...           ...           ...            ...
25755  11 minutes           11              11
25756  10 minutes           10              10
25757  14 minutes           14              14
25758  14 minutes           14              14
25759  29 minutes           29              29

[25760 rows x 3 columns]
11.389052795031056

In [ ]:
2020-11-23

In [ ]:
ride_sharing.user_type

0        2
1        2
2        3
3        1
4        2
        ..
25755    1
25756    2
25757    2
25758    2
25759    3
Name: user_type, Length: 25760, dtype: category
Categories (3, int64): [1, 2, 3]

In [ ]:
ride_sharing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25760 entries, 0 to 25759
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       25760 non-null  int64
 1   duration         25760 non-null  object
 2   station_A_id     25760 non-null  int64
 3   station_A_name   25760 non-null  object
 4   station_B_id     25760 non-null  int64
 5   station_B_name   25760 non-null  object
 6   bike_id          25760 non-null  int64
 7   user_type        25760 non-null  int64
 8   user_birth_year  25760 non-null  int64
 9   user_gender      25760 non-null  object
dtypes: int64(6), object(4)
memory usage: 2.0+ MB

In [ ]:
ride_sharing.describe()

         Unnamed: 0  station_A_id  ...  user_birth_year  duration_time
count  25760.000000  25760.000000  ...     25760.000000   25760.000000
mean   12879.500000     31.023602  ...      1983.054969      11.389053
std     7436.415803     26.409263  ...        10.010992      23.500516
min        0.000000      3.000000  ...      1901.000000       1.000000
25%     6439.750000     15.000000  ...      1978.000000       6.000000
50%    12879.500000     21.000000  ...      1985.000000       9.000000
75%    19319.250000     67.000000  ...      1990.000000      13.000000
max    25759.000000     81.000000  ...      2001.000000    1372.000000

[8 rows x 7 columns]

In [ ]:
# Convert tire_sizes to integer
ride_sharing['user_type'] = ride_sharing['user_type'].astype('int')

# Set all values above 27 to 27
ride_sharing.loc[ride_sharing['user_type'] > 27, 'user_type'] = 27

# Reconvert tire_sizes back to categorical
ride_sharing['user_type'] = ride_sharing['user_type'].astype('category')

# Print tire size description
print(ride_sharing['user_type'].describe())

count     25760
unique        3
top           2
freq      12972
Name: user_type, dtype: int64

In [ ]:
ride_sharing.user_birth_year

0        1959
1        1965
2        1993
3        1979
4        1994
         ...
25755    2000
25756    1998
25757    1995
25758    1995
25759    1990
Name: user_birth_year, Length: 25760, dtype: int64

In [ ]:
# Convert ride_date to datetime
ride_sharing['user_birth_year'] = pd.to_datetime(ride_sharing['user_birth_year'])

import datetime as dt 
# Save today's date
today = dt.datetime.today()

# Set all in the future to today's date
ride_sharing.loc[ride_sharing['user_birth_year'] > today, 'user_birth_year'] = today

# Print maximum of ride_dt column
print(ride_sharing['user_birth_year'].max())
print(today)

1970-01-01 00:00:00.000002001
2020-11-25 16:30:08.432804

In [ ]:
ride_sharing.user_birth_year

0       1970-01-01 00:00:00.000001959
1       1970-01-01 00:00:00.000001965
2       1970-01-01 00:00:00.000001993
3       1970-01-01 00:00:00.000001979
4       1970-01-01 00:00:00.000001994
                     ...
25755   1970-01-01 00:00:00.000002000
25756   1970-01-01 00:00:00.000001998
25757   1970-01-01 00:00:00.000001995
25758   1970-01-01 00:00:00.000001995
25759   1970-01-01 00:00:00.000001990
Name: user_birth_year, Length: 25760, dtype: datetime64[ns]

In [ ]:
1997 ==== yyyy-dd-mm, yyyy-mm-dd

In [ ]:
mode, mean and median

(1+1+3+4+6)/5

1, 2, 3, 4, 5, 6, 7,8,9, 10, 11, 12

list = []
list.median

In [ ]:
# Find duplicates
duplicates = ride_sharing.duplicated(subset='bike_id', keep=False)

# Sort your duplicated rides
duplicated_rides = ride_sharing[duplicates].sort_values('bike_id')

# Print relevant columns of duplicated_rides
print(duplicated_rides[['bike_id','duration','user_birth_year']])

       bike_id    duration  user_birth_year
3638        11  12 minutes             1988
6088        11   5 minutes             1985
10857       11   4 minutes             1987
10045       27  13 minutes             1989
16104       27  10 minutes             1970
...        ...         ...              ...
8812      6638  10 minutes             1986
6815      6638   5 minutes             1995
8456      6638   7 minutes             1983
8300      6638   6 minutes             1962
8380      6638   8 minutes             1984

[25717 rows x 3 columns]

In [ ]:
drop_duplicate.......... multan , karachi 
drop_duplicate(multan, multan, multan) == multan

In [ ]:
pakistan, multan, lahore, islamabad, karachi; USA (california, texas, michigan)
groupby('country')=
pakistan
USA

In [ ]:
# Drop complete duplicates from ride_sharing
ride_dup = ride_sharing.drop_duplicates()

# Group by ride_id and compute new statistics
ride_unique = ride_dup.groupby('bike_id')

# Assert duplicates are processed
print(ride_dup)

       Unnamed: 0    duration  ...               user_birth_year user_gender
0               0  12 minutes  ... 1970-01-01 00:00:00.000001959        Male
1               1  24 minutes  ... 1970-01-01 00:00:00.000001965        Male
2               2   8 minutes  ... 1970-01-01 00:00:00.000001993        Male
3               3   4 minutes  ... 1970-01-01 00:00:00.000001979        Male
4               4  11 minutes  ... 1970-01-01 00:00:00.000001994        Male
...           ...         ...  ...                           ...         ...
25755       25755  11 minutes  ... 1970-01-01 00:00:00.000002000        Male
25756       25756  10 minutes  ... 1970-01-01 00:00:00.000001998        Male
25757       25757  14 minutes  ... 1970-01-01 00:00:00.000001995        Male
25758       25758  14 minutes  ... 1970-01-01 00:00:00.000001995        Male
25759       25759  29 minutes  ... 1970-01-01 00:00:00.000001990        Male

[25760 rows x 10 columns]

In [ ]:
Chapter 5
topic 5.2
you’ll learn how to fix whitespace and capitalization inconsistencies in 
category labels, collapse multiple categories into one, and reformat strings 
for consistency.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

airlines = pd.read_csv('airlines_final.csv')

In [ ]:
# Print categories DataFrame
print(airlines.head())

   Unnamed: 0    id  ...         safety        satisfaction
0           0  1351  ...        Neutral      Very satisfied
1           1   373  ...      Very safe      Very satisfied
2           2  2820  ...  Somewhat safe             Neutral
3           3  1157  ...      Very safe  Somewhat satsified
4           4  2992  ...      Very safe  Somewhat satsified

[5 rows x 13 columns]

In [ ]:
airlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2477 entries, 0 to 2476
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     2477 non-null   int64
 1   id             2477 non-null   int64
 2   day            2477 non-null   object
 3   airline        2477 non-null   object
 4   destination    2477 non-null   object
 5   dest_region    2477 non-null   object
 6   dest_size      2477 non-null   object
 7   boarding_area  2477 non-null   object
 8   dept_time      2477 non-null   object
 9   wait_min       2477 non-null   float64
 10  cleanliness    2477 non-null   object
 11  safety         2477 non-null   object
 12  satisfaction   2477 non-null   object
dtypes: float64(1), int64(2), object(10)
memory usage: 251.7+ KB

In [ ]:
airlines.columns

Index(['Unnamed: 0', 'id', 'day', 'airline', 'destination', 'dest_region',
       'dest_size', 'boarding_area', 'dept_time', 'wait_min', 'cleanliness',
       'safety', 'satisfaction'],
      dtype='object')

In [ ]:
airlines.id

0       1351
1        373
2       2820
3       1157
4       2992
        ...
2472    1475
2473    2222
2474    2684
2475    2549
2476    2162
Name: id, Length: 2477, dtype: int64

In [ ]:
airlines.satisfaction

0           Very satisfied
1           Very satisfied
2                  Neutral
3       Somewhat satsified
4       Somewhat satsified
               ...
2472    Somewhat satsified
2473        Very satisfied
2474        Very satisfied
2475        Very satisfied
2476    Somewhat satsified
Name: satisfaction, Length: 2477, dtype: object

In [ ]:
imputer == replace === map(very:1, 0, 0,0,0), lambda === data['column']=data[column].mean, for filna
get_dummies==oneHotecoding ==

In [ ]:
# Print unique values of survey columns in airlines
print('Cleanliness: ', airlines['cleanliness'].unique(), "\n")
print('Safety: ', airlines['safety'].unique(), "\n")
print('Satisfaction: ', airlines['satisfaction'].unique(), "\n")

Cleanliness:  ['Clean' 'Average' 'Somewhat clean' 'Somewhat dirty' 'Dirty']

Safety:  ['Neutral' 'Very safe' 'Somewhat safe' 'Very unsafe' 'Somewhat unsafe']

Satisfaction:  ['Very satisfied' 'Neutral' 'Somewhat satsified' 'Somewhat unsatisfied'
 'Very unsatisfied']

In [ ]:
# Print unique values of both columns
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

['Asia' 'Canada/Mexico' 'West US' 'East US' 'Midwest US' 'EAST US'
 'Middle East' 'Europe' 'eur' 'Central/South America'
 'Australia/New Zealand' 'middle east']
['Hub' 'Small' '    Hub' 'Medium' 'Large' 'Hub     ' '    Small'
 'Medium     ' '    Medium' 'Small     ' '    Large' 'Large     ']

In [ ]:
0 100== 0-20, kids, 20 50, adult, 50 100 old

In [ ]:
# Create ranges for categories
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', 'medium', 'long']

# Create wait_type column
airlines['wait_type'] = pd.cut(airlines['wait_min'], bins = label_ranges, 
                               labels = label_names)

# Create mappings and replace
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 
            'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}

airlines['day_week'] = airlines['day'].replace(mappings)

In [ ]:
# Replace "Dr." with empty string ""
airlines['day_week'] = airlines['day_week'].str.replace("Dr.","")

# Replace "Mr." with empty string ""
airlines['day_week'] = airlines['day_week'].str.replace("Mr.","")

# Replace "Miss" with empty string ""
airlines['day_week'] = airlines['day_week'].str.replace("Miss","")

# Replace "Ms." with empty string ""
airlines['day_week'] = airlines['day_week'].str.replace("Ms.","")

# Assert that full_name has no honorifics
assert airlines['day_week'].str.contains('Ms.|Mr.|Miss|Dr.').any() == False

In [ ]:
# Store length of each row in survey_response column
resp_length = airlines['day_week'].str.len()

# Find rows in airlines where resp_length > 40
airlines_survey = airlines[resp_length > 40]

# Assert minimum survey_response length is > 40
assert airlines_survey['day_week'].str.len().min() > 40

# Print new survey_response column
print(airlines_survey['day_week'])

AssertionError: ignored

In [ ]:
Chapter 5
topic 5.3
you’ll dive into more advanced data cleaning problems,
 such as ensuring that weights are all written in kilograms instead of pounds.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

banking = pd.read_csv('banking_dirty.csv')
banking.columns

Index(['Unnamed: 0', 'cust_id', 'birth_date', 'Age', 'acct_amount',
       'inv_amount', 'fund_A', 'fund_B', 'fund_C', 'fund_D', 'account_opened',
       'last_transaction'],
      dtype='object')

In [ ]:
# Find values of acct_cur that are equal to 'euro'
acct_eu = banking['inv_amount'] == 'euro'

# Convert acct_amount where it is in euro to dollars
banking.loc[acct_eu, 'acct_amount'] = banking.loc[acct_eu, 'acct_amount'] * 1.1 

# Unify acct_cur column by changing 'euro' values to 'dollar'
banking.loc[acct_eu, 'inv_amount'] = 'dollar'

# Print unique values of acct_cur
#assert banking['inv_amount'].unique() == 'dollar'

In [ ]:
# Print the header of account_opened
print(banking.account_opened.head())

0    02-09-18
1    28-02-19
2    25-04-18
3    07-11-17
4    14-05-18
Name: account_opened, dtype: object

In [ ]:
# Store fund columns to sum against
fund_columns = ['fund_A', 'fund_B', 'fund_C', 'fund_D']

# Find rows where fund_columns row sum == inv_amount
inv_equ = banking[fund_columns].sum(axis = 1) == banking['inv_amount']

# Store consistent and inconsistent data
consistent_inv = banking[inv_equ]
inconsistent_inv = banking[~inv_equ]

# Store consistent and inconsistent data
print("Number of inconsistent investments: ", inconsistent_inv.shape[0])

Number of inconsistent investments:  8

In [ ]:
# Print number of missing values in banking
print(banking.isna().sum())

# Visualize missingness matrix
#msno.matrix(banking)
plt.show()

Unnamed: 0          0
cust_id             0
birth_date          0
Age                 0
acct_amount         0
inv_amount          0
fund_A              0
fund_B              0
fund_C              0
fund_D              0
account_opened      0
last_transaction    0
dtype: int64

In [ ]:
# Drop missing values of cust_id
banking_fullid = banking.dropna(subset = ['cust_id'])

# Compute estimated acct_amount
acct_imp = banking_fullid['inv_amount'] * 5

# Impute missing acct_amount with corresponding acct_imp
banking_imputed = banking_fullid.fillna({'acct_amount':acct_imp})

# Print number of missing values
print(banking_imputed.isna().sum())

Unnamed: 0          0
cust_id             0
birth_date          0
Age                 0
acct_amount         0
inv_amount          0
fund_A              0
fund_B              0
fund_C              0
fund_D              0
account_opened      0
last_transaction    0
dtype: int64